
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559179817136686166.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559179817136686166.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559179817136686166.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559179817136686166.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559179817136686166.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559179817136686166.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559179817136686166.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559179817136686166.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559179817136686166.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-559179817136686166.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559179817136686166.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-559179817136686166.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-559179817136686166.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-559179817136686166.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559179817136686166.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-559179817136686166.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-559179817136686166.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-559179817136686166.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559179817136686166.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559179817136686166.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559179817136686166.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-559179817136686166.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-559179817136686166.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-559179817136686166.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-559179817136686166.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-559179817136686166.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559179817136686166.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-559179817136686166.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559179817136686166.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559179817136686166.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-559179817136686166.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559179817136686166.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559179817136686166.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559179817136686166.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559179817136686166.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559179817136686166.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559179817136686166.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559179817136686166.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-559179817136686166.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-559179817136686166.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559179817136686166.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559179817136686166.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-559179817136686166.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-559179817136686166.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-559179817136686166.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-559179817136686166.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-559179817136686166.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-559179817136686166.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-559179817136686166.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-559179817136686166.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-559179817136686166.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559179817136686166.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559179817136686166.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-559179817136686166.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-559179817136686166 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-559179817136686166 .gp-relative{position:relative}.gps-559179817136686166 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-559179817136686166 .gp-mb-0{margin-bottom:0}.gps-559179817136686166 .gp-flex{display:flex}.gps-559179817136686166 .gp-grid{display:grid}.gps-559179817136686166 .\!gp-hidden{display:none!important}.gps-559179817136686166 .gp-hidden{display:none}.gps-559179817136686166 .gp-max-w-full{max-width:100%}.gps-559179817136686166 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-559179817136686166 .gp-flex-col{flex-direction:column}.gps-559179817136686166 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559179817136686166 .gp-duration-200{transition-duration:.2s}.gps-559179817136686166 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-559179817136686166 .tablet\:\!gp-hidden{display:none!important}.gps-559179817136686166 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-559179817136686166 .mobile\:\!gp-hidden{display:none!important}.gps-559179817136686166 .mobile\:gp-hidden{display:none}}.gps-559179817136686166 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#e2e2e2","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gt2mwi12Dr"}' data-id="gt2mwi12Dr" id="gt2mwi12Dr" data-same-height-subgrid-container class="gt2mwi12Dr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#e2e2e2;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaW6MBCNDj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWxYzo6gwO"
        class="gWxYzo6gwO"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:319px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1759061116318"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWxYzo6gwO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-559179817136686166 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/11eqqz-wk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559175832229118957&sectionId=559179817136686166)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWxYzo6gwO_text","label":"ggWxYzo6gwO_text","default":"<p>© 2024 Wandelmagazine. Alle Rechten Voorbehouden. Privacybeleid Gebruiksvoorwaarden</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  