
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-559223771982988269.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-559223771982988269.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-559223771982988269.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-559223771982988269.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-559223771982988269.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-559223771982988269.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-559223771982988269.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-559223771982988269.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-559223771982988269.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-559223771982988269.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-559223771982988269.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-559223771982988269.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-559223771982988269.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-559223771982988269.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-559223771982988269.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-559223771982988269.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-559223771982988269.gps.gpsil [style*="--hvr-radius:"]:hover{border-radius:var(--hvr-radius)}.gps-559223771982988269.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-559223771982988269.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-559223771982988269.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-559223771982988269.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-559223771982988269.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-559223771982988269.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-559223771982988269.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-559223771982988269.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-559223771982988269.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-559223771982988269.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-559223771982988269.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-559223771982988269.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-559223771982988269.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-559223771982988269.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-559223771982988269.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-559223771982988269.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-559223771982988269.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-559223771982988269.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-559223771982988269.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-559223771982988269.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-559223771982988269.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-559223771982988269.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-559223771982988269.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-559223771982988269.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-559223771982988269.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-559223771982988269.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-559223771982988269.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-559223771982988269.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-559223771982988269.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-559223771982988269.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-559223771982988269.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-559223771982988269.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-559223771982988269.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-559223771982988269.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-559223771982988269.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-559223771982988269.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-559223771982988269.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-559223771982988269.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-559223771982988269.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-559223771982988269.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-559223771982988269.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-559223771982988269.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-559223771982988269.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-559223771982988269.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-559223771982988269.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-559223771982988269.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-559223771982988269.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-559223771982988269.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-559223771982988269.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-559223771982988269 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-559223771982988269 .gp-relative{position:relative}.gps-559223771982988269 .gp-sticky{position:sticky}.gps-559223771982988269 .gp-flex{display:flex}.gps-559223771982988269 .gp-inline-flex{display:inline-flex}.gps-559223771982988269 .\!gp-hidden{display:none!important}.gps-559223771982988269 .gp-hidden{display:none}.gps-559223771982988269 .gp-h-full{height:100%}.gps-559223771982988269 .gp-max-w-full{max-width:100%}.gps-559223771982988269 .gp-flex-col{flex-direction:column}.gps-559223771982988269 .gp-items-center{align-items:center}.gps-559223771982988269 .gp-justify-center{justify-content:center}.gps-559223771982988269 .gp-overflow-hidden{overflow:hidden}.gps-559223771982988269 .gp-break-words{overflow-wrap:break-word}.gps-559223771982988269 .gp-text-center{text-align:center}.gps-559223771982988269 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-559223771982988269 .gp-no-underline{text-decoration-line:none}.gps-559223771982988269 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-559223771982988269 .gp-duration-200{transition-duration:.2s}.gps-559223771982988269 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-559223771982988269 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-559223771982988269 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-559223771982988269 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-559223771982988269 .tablet\:\!gp-hidden{display:none!important}.gps-559223771982988269 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-559223771982988269 .mobile\:\!gp-hidden{display:none!important}.gps-559223771982988269 .mobile\:gp-hidden{display:none}}.gps-559223771982988269 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    
    <gp-sticky
    data-id="gg3Hoj2ZNt"
      gp-data='{"uid":"gg3Hoj2ZNt","setting":{"display":{"desktop":"always","tablet":"always","mobile":"always"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gg3Hoj2ZNt"
      data-id="gg3Hoj2ZNt"
      class="sticky-wrapper  gg3Hoj2ZNt undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:block;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:block;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:block;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:0px 0px 10px 0px #0000001a;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="g9RGfAQL4Q gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://www.mode-jansen.nl/products/ergofit-pijnstillende-comfort-schoenen","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-tablet:center" >
        <style>[data-id="gZA8zkuvI7"].gp-button-base::before, [data-id="gZA8zkuvI7-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    border-radius: var(--g-radius-small);
  
    }
  
      
  [data-id="gZA8zkuvI7"]:hover::before, [data-id="gZA8zkuvI7-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gZA8zkuvI7" dataId="gZA8zkuvI7" data-state="idle" aria-label="<p><strong>Klik hier voor 70% korting! 👉🏼</strong></p>"
          
          href="https://www.mode-jansen.nl/products/ergofit-pijnstillende-comfort-schoenen" target="_self"
          style="--w:100%;--w-tablet:900px;--w-mobile:900px;--h:Auto;--h-tablet:Auto;--h-mobile:60px;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--radius:var(--g-radius-small);--hvr-radius:var(--g-radius-small);--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#334fb4;--c:var(--g-c-text-3, text-3);--size:16px;--size-tablet:16px;--size-mobile:19px"
          class="gZA8zkuvI7 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:16px;--size-tablet:16px;--size-mobile:19px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggZA8zkuvI7_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-559223771982988269 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/11eqqz-wk/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=559175832229118957&sectionId=559223771982988269)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZA8zkuvI7_label","label":"ggZA8zkuvI7_label","default":"<p><strong>Klik hier voor 70% korting! 👉🏼</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  